In [5]:
import pandas as pd

# Load the CSV file
file_path = "Customer Purchase Data.csv"  # Replace with the path to your file
data = pd.read_csv(file_path)

# Calculate the mode for each column
modes = data.mode()

# Display the mode values
print("Mode values for each column:")
print(modes)

Mode values for each column:
      Number   Age       Income  Spending_Score  Membership_Years  \
0          1  43.0  19946.67574     4064.177336               5.0
1          2   NaN  20162.65049     4161.601723               NaN
2          3   NaN  21017.63938     4401.794949               NaN
3          4   NaN  21462.62737     4413.053555               NaN
4          5   NaN  21589.99296     4426.729092               NaN
...      ...   ...          ...             ...               ...
1357    1358   NaN  71641.56075    14468.266560               NaN
1358    1359   NaN  71760.87029    14469.670740               NaN
1359    1360   NaN  71793.69640    14471.457630               NaN
1360    1361   NaN  71968.93474    14537.736290               NaN
1361    1362   NaN  73182.56980    14791.611800               NaN

      Purchase_Frequency  Last_Purchase_Amount
0               4.876052           2057.551913
1               5.146982           2106.509116
2               5.269737           2193.907366
3               5.455566           2242.446384
4               5.493466           2268.998556
...                  ...                   ...
1357           98.094180           7287.730593
1358           98.166371           7288.216661
1359           98.233724           7301.583331
1360           98.672266           7313.279661
1361           99.492184           7519.376995

[1362 rows x 7 columns]